header{
    min-height: 740px;
    width: 100%;
    margin-bottom: 0;
    background: url("../images/header.jpg");
    background-size:cover ;
    background-attachment:fixed ;
    text-align: center;
}
.navbar-default{
    border: none;
    background-color: transparent;
}
.navbar-brand{
    position: relative;
}
.logo{
    position: absolute;
    top:30px;
    left:70px;
}
.navbar-nav{
    margin-top: 20px;
}

.logo {
    font-size: 1.8em;
    font-family: "Trocchi",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;



}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
 color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a{
    font-size: 1em;
    font-family: "Raleway",sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

}
.navbar-default .navbar-nav>li>a:hover{

    color: rgb(255, 255, 255);
     text-decoration: underline;
}

.phone{
    color: #ffffff;
    font-size: 1em;
    font-family: "Karla",sans-serif;
    margin-top:15px ;
    padding-left: 10px;
}
.divider{
    color: #ffffff;
    margin-top: 14px;
}
.btnnav{
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    border: 2px solid #ffffff;
    font-size: 1.2em;
    font-family: "Trocchi",sans-serif;
    font-weight: bold;
    margin-top: -10px;
    border-radius: 0;
}
.btnnav:hover{
    color:#1b6d85;
    border-color: #1b6d85;
}
.navbar-toggle{
    margin-top: 20px;
}

header h1 {
    font-size: 3em;
    font-family: "Trocchi",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;

}
header p {
    font-size: 1.5em;
    font-family: "Raleway",sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 30px;

}




.btnorange,.btnwhite {
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    font-size: 1.3em;
    font-family: "Trocchi", sans-serif;
    font-weight: bold;
    border-radius: 0;
    padding: 15px 20px;
    margin: 50px 0 20px 0 ;
}
.btnorange {
    background-color: #ff8400;
    margin-right: 20px;
}
.btnwhite{
    background-color: transparent;
    border: 1px solid #ffffff;

}
.small {
    font-size: 15px;
    font-family: "Helvetica",sans-serif;
    color: rgb(255, 255, 255);
    margin-left: -150px; ;
    margin-top: -10px;


}
.second{
    width: 100%;
    background-color: #052a37;
}
.col-sm-3{
    border-left: 1px solid #cccccc;
    border-right:1px solid #cccccc ;
    text-align: center;
    background-color: #0c5773;
}

.box h2 {
    font-size: 1.2em;
    font-family: "Trocchi",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 30px;

}
.box p {
    font-size: 14px;
    font-family: "Raleway",sans-serif;
    color: rgba(255, 255, 255, 0.451);

}
.fa-long-arrow-right{
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
    border-radius:50%;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.color1{
    background-color: #0c546e;
}
.color2{
    background-color: #17495b;
}
.color3{
    background-color: #518fa6;
}
.color4{
background-color: #0d5e7c;

}
.industry {
    text-align: center;
}
.industry h1{

    font-size: 2.5em;
    font-family: "Trocchi",sans-serif;
    color: rgb(13, 94, 124);
    font-weight: bold;
    margin: 100px 0;


}
.media{
    margin-bottom: 30px;
    text-align: left;

}
.media-body{
    padding-left: 40px;
}
.media-body p {
    font-size: 1em;
    font-family: "Raleway",sans-serif;
    color: rgba(50, 50, 51, 0.702);
    margin-top: 20px;

}

.media-heading  {
    font-size: 1.4em;
    font-family: "Trocchi",sans-serif;
    color: rgb(64, 65, 65);

}
.quote{
    background-color: #f0f0f0;
}
.quote span{
    text-decoration: underline;
    text-decoration-color:#2f95b6;
    -webkit-text-decoration-color: #2f95b6;
    -moz-text-decoration-color: #2f95b6;
}
.quote h1{
    font-size: 2em;
    font-family: "Trocchi",sans-serif;
    color: rgb(50, 50, 51);
    font-weight: bold;
   margin: 70px 0;
}

.quote p{
    font-size: 0.9em;
    font-family: "Helvetica",sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;

}
.testimonail {
    background: url("../images/testemonials.jpg");
    background-size:cover ;
}

.testimonail p {
    font-size: 1em;
    font-family: "Raleway",sans-serif;
    color: rgb(255, 255, 255);
   text-align: center;
    margin-bottom: 60px;
}
.testimonail a{
    color: #ffffff;
}
.testimonail h3 {
    font-size: 1.3em;
    font-family: "Trocchi",sans-serif;
    color: rgb(252, 252, 252);
    text-align: center;
    position: relative;
    margin: 100px 0 60px 0;

}
footer{
    text-align: center;
    background-color: #f2f2f2;
}
ul.icons{
    list-style-type: none;
    padding-top: 100px;

}
 ul.icons li{
    display: inline-block;
     margin-right: 30px;

}
ul.icons li i{
    border-radius: 50%;
    background-color: #e0e0e0;
    color: #323233;
    text-align: center;
    padding: 6px;
    font-size: 24px;
}
 ul.footnav {
    list-style-type: none;
     margin-top: 30px;
}
 ul.footnav li{
    display: inline-block;
}
 ul.footnav li a{
     font-size: 18px;
     font-family: "Raleway",sans-serif;
     color: rgb(50, 50, 51);
 }
 ul.footnav .divider{
     color: rgb(50, 50, 51);
     margin: -5px 5px 0 5px;
 }


@media (max-width: 768px) {
    li.divider{
        display: none;
    }
    .phone{
        padding-bottom:15px; ;
    }
    .col-sm-3{
        width: 60%;
        text-align: center;
        margin-left: 20%;
    }.box h2{
    padding-top: 20px;
         }
     .box {
         margin-bottom: 50px;
     }
     .industry h1{
         font-size: 1.8em;
     }
     .media-heading{
         font-size: 1.4em;
     }
     .media-body p{
         font-size: 1.1em;
     }
     .quote h1{
         font-size: 1.5em;

     }
     .pull-left{
         width: 100%;
         text-align: center;
     }

     .pull-right{
         width: 100%;
         text-align: center;
     }
     .testimonail h3{
         font-size: 1em;
     }


}